/* 

styles.less
contents:

	1. Import
	2. Layout
	3. Media Queries
	4. Device Specific Media Queries

*/

/* 1. Import
--------------------------------------------------------------------------------------- */

// bootstrap
@import "bootstrap/bootstrap.less";

// variables override
@import "_variables.less";

// custom mixins
@import "_mixins.less";

// wordpress styles (core, oembed, shortcodes)
@import "_wordpress.less";

// custom bootstrap styles
@import "_bootstrap.less"; 

// gravity forms support - disable bundled styles
/*@import "gravityforms.less";*/

/* 2. Layout
--------------------------------------------------------------------------------------- */

body
	{
	}

/* 3. Media Queries
--------------------------------------------------------------------------------------- */

// larger mobile devices like galaxy note
@media only screen and (min-width: 481px) {
	
	// styles in 481up.less 
	//@import "481up.less";

}

// tablets and smaller laptops
@media only screen and (min-width: 768px) {
	
	// styles in 768up.less 
	//@import "768up.less";

} 

// desktop, normal laptops
@media only screen and (min-width: 1030px) {
	
	// styles in 1030up.less 
	//@import "1030up.less";

}

// larger viewing sizes, desktops, full screen viewers?
@media only screen and (min-width: 1240px) {
	
	// styles in 1240up.less 
	//@import "1240up.less";

}

/* 4. Device Specific Media Queries
--------------------------------------------------------------------------------------- */

// retina displays
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi),
only screen and (min-resolution: 2dppx)
	{
	//@import "2x.less"; 
	} 

// Smartphones (portrait and landscape)
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
	{
	/* prevent iOS, WinMobile from adjusting font size */
  	html 
  		{ 
  		-webkit-text-size-adjust:none;
  		-ms-text-size-adjust:none; 
  		}
  		
	}

// Smartphones (landscape) 
@media only screen 
and (min-width : 321px) 
	{
	}

// Smartphones (portrait)
@media only screen 
and (max-width : 320px) 
	{
	}

// iPads (portrait and landscape)
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
	{
	}

// iPads (landscape)
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) 
	{
	}

// iPads (portrait)
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) 
	{
	}